<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Music - About</title>
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/png+xml">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/aboutus.css">
</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <header>
        <nav class="container">
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
            <div class="logo">
                <img src="/assets/images/logo.png" alt="MusicCurator Logo" class="logo-image">
                <span class="project-name">Project Music</span>
            </div>
            <div class="nav-links">
                <a href="/index.html">Home</a>
                <a href="/public/views/playlists.html">Playlists</a>
                <a href="/public/views/aboutus.html">About</a>
                <a href="/public/views/submissions.html">Submissions</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="about container">
            <h1>About Project Music</h1>
            <div class="about-content">
                <p>Project Music, is one of the upcoming music platform based in Kenya started on May 2020 by Project Dreams holding a total of over 10,000 playlist followers. Its main aim is to make people’s music be heard and making people’s talent and passion for music recognized through Playlist pitching</p>
                <p>I believe music can transform moods, build connections, and inspire creativity. My mission is to craft playlists that not only entertain but introduce listeners to fresh artists and genres they might not encounter elsewhere.</p>
                <p>Join me and dive into the world of music discovery, where every playlist is a journey through sound!</p>
                
            </div>
        </section>
    </main>
    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
           document.querySelector('.nav-links').classList.toggle('active');
       });
       lucide.createIcons();
   </script>
</body>
</html>
