<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Music - Playlists</title>
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/png+xml">
    <link rel="stylesheet" href="/public/stylesheets/playlists.css">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <header>
        <nav class="container">
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
            <div class="logo">
                <img src="/assets/images/logo.png" alt="MusicCurator Logo" class="logo-image">
                <span class="project-name">Project Music</span>
            </div>
            <div class="nav-links">
                <a href="/index.html">Home</a>
                <a href="/public/views/playlists.html">Playlists</a>
                <a href="/public/views/aboutus.html">About</a>
                <a href="submissions.html">Submissions</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="playlists container">
            <h1>Playlists</h1>
            <div class="playlist-grid">
                <div class="playlist-card">
                    <h2>Kenyan R&B</h2>
                    <p>Dive into the souldful rhythms of Kenya where smooth vocals and Afro-infused beats create the perfect vibe</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1I8rJ9e0toqBXIql035TLc?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/1I8rJ9e0toqBXIql035TLc?si=5116eb13a7f74aae" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>Kenyan Hits</h2>
                    <p>Dive into the Trending Hits list in Kenya right now featuring upcoming and rising stars of all time</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5GOwcAxcNIU2l6MoesmbBX?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/5GOwcAxcNIU2l6MoesmbBX?si=742c33f2a6764c32" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>Sol Generation</h2>
                    <p>Take a musical journey with Kenya's heartbeat as the artists redefine the East African Sondscapes</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3wXSFmXCk2GsT4qEuJ3ZfY?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/3wXSFmXCk2GsT4qEuJ3ZfY?si=f1f0f1b75c2045bd" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>Afro Vibes</h2>
                    <p>Bringing the Hottest Afro Hits of all time</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4JHj4zwzUMnu2VdvmijWGt?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/4JHj4zwzUMnu2VdvmijWGt?si=ff40c2e52d8d4a77" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>R&B Pulse</h2>
                    <p>Bringing you the pulse of R&B music</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2dk65hHvatH8Gzju02sA3V?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/2dk65hHvatH8Gzju02sA3V?si=aff0240ebb4e476e" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>Rap Drive</h2>
                    <p>Bringing the Hardest Rap Tracks featured</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3QAJE0PvNBAAvac94ic4Xk?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/3QAJE0PvNBAAvac94ic4Xk?si=d398692fdda8463c" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>R&B Rewind</h2>
                    <p>Dive into the soulful 2000s R&B Journey where timeless classics take you back to the golden era</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5FyrhALzoQ9YkIpcg1iW1a?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/5FyrhALzoQ9YkIpcg1iW1a?si=df59f4064a474d94" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>Hiphop Rewind</h2>
                    <p>Rewind the beats,relive the rhymes - This playlist is a journey through hip-hop history, featuring iconic tracks of all time</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0WIijLnD4AE6Z3oRxelgi9?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/0WIijLnD4AE6Z3oRxelgi9?si=ec8f10dc805448fa" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>Nostalgic Memories</h2>
                    <p>Take a trip doen memory lane where every note is a portal to cherished moments and timeless tune</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5rJVxgesjLqWkGsBnl2RgK?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/5rJVxgesjLqWkGsBnl2RgK?si=ffe98b3947494a40" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                <div class="playlist-card">
                    <h2>Hits Alert</h2>
                    <p>Immerse yourself in a vibrant blend of indie artists and rising starts</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0UyK8I4ZC3X2uEqZUNs7o8?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    <a href="https://open.spotify.com/playlist/0UyK8I4ZC3X2uEqZUNs7o8?si=724351debf324f0d" target="_blank" rel="noopener noreferrer" class="spotify-button">
                        <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                        Open on Spotify
                    </a>
                </div>
                    <div class="playlist-card">
                        <h2>Pop Drive</h2>
                        <p>Discover Pop Hits of all time</p>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3ZsTKr69pZkvDqeXqLnomy?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        <a href="https://open.spotify.com/playlist/3ZsTKr69pZkvDqeXqLnomy?si=36db4506c92f4569" target="_blank" rel="noopener noreferrer" class="spotify-button">
                            <i data-lucide="external-link" style="display: inline; vertical-align: middle; margin-left: 5px;"></i>
                            Open on Spotify
                        </a>
                </div>
            </div>
        </section>
    </main>

    <script>
         document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.nav-links').classList.toggle('active');
        });
        lucide.createIcons();
    </script>
</body>
</html>